# API Backend URL
# Development: http://localhost:3000/api/v1
# Production: https://api.localcoffeeshop.co/api/v1
API_BASE_URL=https://api.localcoffeeshop.co/api/v1

# Analytics
GA_MEASUREMENT_ID=G-YVSXN7PM48

# Environment
NODE_ENV=production
